.navbar.navbar-static-top
  .navbar-inner
    %span.brand
      %strong= user.name
      %small Client Cubby
    %ul.nav.pull-right
      %li
        %form#logout-form(action="/logout" method="post")
          = Rack::Csrf.tag(env)
          %input.btn(type="submit" value="Log Out")