@import "compass"
@import "bootstrap"
@import "bootstrap-responsive"


#login-form

#logout-form
  display: inline

.delete-form
  display: inline

.file-controls
  text-align: right

#download-prompt
  text-align: center
  margin-top: 20px